.App form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
}

nav {
  width: 100%;
  background-color: #1890ff;
  height: 60px;
  padding: 15px;
}

nav .logo h1 {
  text-align: left;
  color: #fff;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.error {
  margin-bottom: 0;
  color: red;
  text-align: left;
  margin-left: 12px;
}
